<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Game-Backend</title>

<!-- CSS (load bootstrap from a CDN) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/style.css">
