body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.questionCell {
  position: relative;
  width: 100px;
}

.questionCell span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
