body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.type {
  width: 100px;
}

.difficulty {
  width: 103px;
}

.actions {
  width: 159px;
}

.sorter {
  float: left;
  width: 50%;
}

hr {
  clear: both;
}