<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <form action="/questions/create" method="POST">
        <div class="form-group">
            <label for="questionText">Question</label>
            <textarea class="form-control" id="questionText" rows="4" name="questionText"></textarea>
        </div>
        <div class="form-group">
            <label for="selectType">Question Type</label>
            <select class="form-control" id="selectType" name="questionType">
                <% types.forEach(function(type){%>
                    <option value="<%=type.id%>"><%=type.value%></option>
                <% })%>
            </select>
        </div>
        <div class="form-group">
            <label for="selectDifficulty">Question Difficulty</label>
            <select class="form-control" id="selectDifficulty" name="questionDifficulty">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-danger" href="/questions/list">Cancel</a>
    </form>
</body>
<% include ../partials/footer %>

</html>