<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <h2>Are you sure you want to delete ?</h2>
    <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th class="">Text</th>
                    <th class="text-center">Type</th>
                    <th class="text-center">Difficulty</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%=question.text %></td>
                    <td class="questionCell type"><span><%=types[question.type - 1].value %></span></td>
                    <td class="questionCell difficulty">
                        <% for(var i = 0; i < 5; i++) { %>
                            <% if(i < question.difficulty) { %>
                                <span class="glyphicon glyphicon-star"></span>
                            <% } else { %>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            <% } %>    
                        <%}%>
                    </td>
                </tr>
            </tbody>
        </table>
    <a href="/questions/delete/<%=question.uuid %>/yes" class="btn btn-danger">Yes</a>
    <a href="/questions/list" class="btn btn-primary">No</a>
</body>
<% include ../partials/footer %>

</html>