<!DOCTYPE html>
<html>
<% include ../partials/head %>
<% include ../partials/header %>

<body>
    <a class="btn btn-success" href="/questions/create">Create new Question</a>
    <hr>
    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                <th class="">Text</th>
                <th class="text-center">Type</th>
                <th class="text-center">Difficulty</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% questions.forEach((question) => {%>
                <tr>
                    <td><%=question.text %></td>
                    <td class="questionCell type"><span><%=types[question.type - 1].value %></span></td>
                    <td class="questionCell difficulty">
                        <% for(var i = 0; i < 5; i++) { %>
                            <% if(i < question.difficulty) { %>
                                <span class="glyphicon glyphicon-star"></span>
                            <% } else { %>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            <% } %>
                            
                        <%}%>
                    </td>
                    <td class="questionCell actions">                
                        <a href="/questions/update/<%=question.uuid%>" class="btn btn-primary">Update</a>
                        <a href="/questions/delete/<%=question.uuid%>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            <%})%>
        </tbody>
    </table>

</body>
<% include ../partials/footer %>

</html>